/* Body styles */
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #4f4f4f;
    color: #38EF7D;
}

/* Title styles */
.title-logo h1 {
    margin: 0;
    font-size: 28px;
}
/* Header styles */
header {
    background-color: #2D2D2D;
    color: #38EF7D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.header-logo img {
    height: 50px;
    filter: hue-rotate(90deg); /* This will make the images look green. Remove if not desired. */
}

/* Main styles */
main {
    padding: 20px;
}

/* Start button styles */
.startBtn,
.quiz-rule-container,
.start-screen-instructions {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Start button styles */
.startBtn button {
    font-family: 'Courier New', Courier, monospace;
    top: 40%;
    font-size: 24px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.startBtn button:hover {
    font-family: 'Courier New', Courier, monospace;
    top: 40%;
    font-size: 24px;
    padding: 10px 20px;
    background-color: #38EF7D;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Quiz rules styles */
.quiz-rule-container {
    font-size: 20px;
    background-color: #2D2D2D;
    border: 1px solid #38EF7D;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Quiz rules styles */
.quiz-rules-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.quiz-rules div {
    margin-bottom: 10px;
}

/* Timer Container styles */
.timer-container {
    display: flex;  
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #2D2D2D;
    border-radius: 5px;
    padding: 10px;
    color: #38EF7D; 
    border: 2px solid #38EF7D;
    width: 250px;
    margin: 0 auto;
}

.timer-container div {
    padding: 10px 20px;
}

/* Quiz container styles */
.quiz-container {
    display: none;
    font-size: 20px;
    background-color: #2D2D2D;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: auto;
    border: 1px solid #38EF7D;
}

/* Quiz score and question counter styles */
.quiz-stats {
    display: none;
    background-color: #2D2D2D;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
    font-size: 20px;
    border: 2px solid #38EF7D;
    border-radius: 5px;
    width: 250px;
    margin: 0 auto;
    margin-top: 50px;
}

/* Quiz answer button styles */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

input[type=radio] {
    display: none;
}

input[type=radio] + label {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid #38EF7D;
    border-radius: 5px;
    background-color: #1E1E1E;
    color: #38EF7D;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type=radio]:checked + label {
    background-color: #5e5e5e;
    color: #fff;
}

input[type=radio].correct + label {
    background-color: #38a169;
}

input[type=radio].incorrect + label {
    background-color: #e53e3e;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Quiz end container styles */
.quiz-end-container {
    display: none;
    font-size: 20px;
    line-height: 50px;
    background-color: #2D2D2D;
    border: 1px solid #38EF7D;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: bold;
}

.submitBtn {
    font-family: 'Courier New', Courier, monospace;
    top: 40%;
    font-size: 24px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Submit button styles */
.submitBtn:hover {
    background-color: #38EF7D;
    color: #000000;
}

/* Quiz snippet styles */
.quizCodeSnippet {
    font-size: 18px;
}

/* Quiz restart button styles */
.restartBtn {
    font-family: 'Courier New', Courier, monospace;
    top: 40%;
    font-size: 24px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.restartBtn:hover {
    background-color: #38EF7D;
    color: #000000;
}

/* Footer styles */
.footer {
    color: #33FF33; 
    font-family: 'Courier New', Courier, monospace; 
    text-align: center; 
    padding: 20px; 
}

.icons {
    display: flex; 
    justify-content: center; 
}

.icons a {
    color: #33FF33;
    margin: 0 10px; 
}

.icons img {
    height: 50px; 
    filter: hue-rotate(90deg); 
}


/* Media queries */

