/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #f9f9f9;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.title-logo h1 {
    margin: 0;
    font-size: 28px;
}

.header-logo img {
    height: 50px;
}

/* Main styles */
main {
    padding: 20px;
}

/* Start button styles */
.start-button,
.quiz-rule-container {
    text-align: center;
    margin-bottom: 20px;
}

.start-screen-instructions {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.start-button button {
    top: 40%;
    font-size: 24px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Quiz rules styles */
.quiz-rule-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.quiz-rules-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.quiz-rules div {
    margin-bottom: 10px;

}

/* Timer Container styles */
.timer-container {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Quiz container styles */
.quiz-container {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.quiz-stats {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}